[user]
  name = kriita
  email = <redacted>

[core]
  whitespace = fix,trailing-space,cr-at-eol

[color]
  ui = true

[difftool]
  prompt = true

[pull]
  rebase = true

[url "git@github.com:"]
  insteadOf = https://github.com/

[fetch]
  prune = true

[alias]
  delete-local-merged = "!git fetch && git branch --merged | egrep -v 'master|develop|main|staging'  | xargs git branch -d"
