# This is Git's per-user configuration file.
[user]
	name = kriita
	email = thordask@gmail.com
# Adapt and uncomment the following lines for studies:
#	name = Filip Jaredson
#	email = filja057@student.liu.se
[color]
	ui = true
[pull]
	rebase = true
[url "git@github.com:"]
	insteadOf = https://github.com/
