# This is Git's per-user configuration file.
[user]
	name = kriita
	email = thordask@gmail.com
# Adapt and uncomment the following lines for studies:
#	name = Filip Jaredson
#	email = filja057@student.liu.se
[color]
	ui = true
[pull]
	rebase = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[fetch]
	prune = true
[alias]
	delete-local-merged = "!git fetch && git branch --merged | egrep -v 'master|develop|main|staging'  | xargs git branch -d"
